# Vite環境変数設定例
# .env.localを作成してこれらの値を設定してください

VITE_API_BASE=https://br7ubkaet1.execute-api.ap-northeast-1.amazonaws.com/prod
VITE_API_PROFILE_URL=
VITE_COGNITO_DOMAIN=https://simple-sns-2026-kr070001.auth.ap-northeast-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=2n4ele9tiqdoue11lqfliihk71
VITE_REDIRECT_URI=https://sns.adawak.net/
